@import '_vars';
.news {
  min-height: 100vh;
  padding-top: 150px;
  .news__top {
    @include title1-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .news__top__filter {
      color: $black;
      background-color: #fff;
      padding: 7px 15px 15px;
      border-radius: 6px;
      border: 1px solid #e7e7e7;
      position: relative;
      cursor: pointer;
      .news__top__filter__title {
        &:after {
          position: relative;
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-right: 2px solid #c8cbcf;
          border-top: 2px solid #c8cbcf;
          transform: rotate(135deg);
          margin-left: 40px;
          top: -4px;
        }
      }

      .news__top__filter__subtitle {
        color: #999999;
        font-size: 12px;
        //line-height: 28px;
      }

    }
  }
  .news__tag {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px -5px 0;
    align-items: flex-start;
    .news__tag__item {
      cursor: pointer;
      margin: 5px;
      background-color: #ffffff;
      border-radius: 4px;
      color: $dark-grey;
      font-size: 16px;
      line-height: 18px;
      padding: 8px 20px;
      &:hover {
        color: $pink;
        background-color: #ffffff;
        transition: all .2s;
      }
      &+.active {
        color: $white;
        background-color: $pink;
        &:hover {
          background-color: $pink-hover;
          transition: all .2s;
        }
      }
    }
  }
  .news__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .news__item {
      height: 530px;
      margin: 25px 10px;
      flex: 0 1 23%;
      background-color: #ffffff;
      border-radius: 6px;
      .news__item__image {
        background-color: #cfd6e0;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 200px;
        border-radius: 6px;
        .news__item__image-inner {
          position: absolute;
          bottom: 3px;
          left: 10px;
          right: 70px;
          display: flex;
          flex-wrap: wrap;
          //margin: 0 -15px;
          span {
            opacity: 0.8;
            color: #ffffff;
            background-color: #1f242d;
            border-radius: 6px;
            font-size: 12px;
            line-height: 16px;
            padding: 6px 15px;
            margin-bottom: 5px;
            margin-right: 5px;
          }
        }
      }
      .news__item__content {
        position: relative;
        height: 265px;
        padding: 0 15px;
        .news__item__subtitle {
          @include text-subtitle;
          color: $subtitle-grey;
          padding-top: 20px;
          span {
            &+ span {
              padding-left: 20px;
            }
          }
        }
        h5 {
          font-size: 18px;
          line-height: 28px;
          font-weight: 700;
          margin: 15px 0;
          &+.hide-mobile {
            @media (max-width: $screen-xs-max) {
              display: none;
            }
          }
          &+.disp-mobile {
            display: none;
            @media (max-width: $screen-xs-max) {
              display: block;
            }
          }
        }
        .text {
          @include text-black-panel;
          height: 120px;
          font-size: 16px;
          line-height: 24px;
          overflow: hidden;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
      .news__item__footer {
        height: 65px;
        margin: 0 15px;
        //border-top: 1px solid #f0f0f0;
        position: relative;
        //display: flex;
       // align-items: center;
        hr {
          background-color: #f0f0f0;
          height: 1px;
          border: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0;
        }

        a {
          position: absolute;
          width: 100%;
          height: 100%;
          color: $black;
          &::after {
            content: '';
            transition: all .3s;
            position: absolute;
            background-image: url(../images/angle__link.svg);
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            right: 30px;
            top: 45%;
            transform: translateY(-40%);
            opacity: 0;
          }
          &:hover {
            &::after {
              opacity: 1;
            }
            span {
              color: $pink;
              border-bottom: 1px solid rgba($pink, 1);
            }
          }
          span {
            font-size: 16px;
            line-height: 18px;
            border-bottom: 1px solid rgba($black, .2);
            display: inline-block;
            padding-top: 20px;
            //position: absolute;
            //top: 50%;
            //transform: translateY(-50%);
            transition: all .2s;
            &:hover{
              border-bottom: 1px solid rgba($pink, 1);
            }
          }
        }
      }
      &+.news__item-digest {
        @include bg__dark;
        .news__item__image {
          height: 415px;
          background-color: $bg-dark-grey;
        }
        .news__item__content {
          height: 50px;
          .news__item__subtitle {
            padding-top: 0;
            h5 {
              color: #ffffff;
              margin: 5px 0;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        .news__item__footer {
          hr {
            background-color: #ffffff;
          }
          a {
            color: #ffffff;
            span {
              border-bottom: 1px solid rgba(#ffffff, .2);
            }
            &:hover {
              span {
                border-bottom: 1px solid rgba($pink, 1);
              }
            }
          }
        }
      }
    }
  }
  .news__link-more {
    text-align: center;
    padding: 40px 0 80px;
    a {
      @include lnk__custom-border-grey-pink;
      color: $lnk-grey;
      @media (max-width: $screen-xs-max) {
        font-size: 17.5px;
      }
    }
  }
}

/*
   &:hover {
      background-color: $pink-hover;
      span{
         &::after{
            right: -30px;
         }
      }
   }
   span {
      position: relative;
      &::after {
         content: '';
         -webkit-transition: all .3s;
         transition: all .3s;
         position: absolute;
         background-image: url(../images/angle-right.png);
         width: 13px;
         height: 12px;
         background-repeat: no-repeat;
         right: -25px;
         top: 45%;
         -webkit-transform: translateY(-40%);
         transform: translateY(-40%);
      }
   }




.news{
   padding-top: 200px;
}
.news__title{
   color: #1d2127;
   text-align: center;
   margin-bottom: 105px;
}
.news__item{
   width: 49%;
   display: block;
   -webkit-transition: all .3s;
   transition: all .3s;
   display: -webkit-box;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;
   margin-bottom: 500px;
   &:hover{
      box-shadow: 0 15px 16px rgba(0, 0, 0, 0.07);
   }
   &.active{
      margin-bottom: 60px;
   }
}
.news__image{
   height: 267px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
.news__content{
   background-color: #fff;
   padding: 28px 30px 60px;
   color: #1d2127;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
   -webkit-box-flex: 1;
   flex-grow: 1;
   position: relative;
}
.news__date,
.news__new{
   color: #9a9da2;
   font-weight: 500;
   display: inline-block;
}
.news__new{
   margin-left: 20px;
}
.news__item-title{
   font-size: 24px;
   line-height: 32px;
   margin-top: 20px;
   margin-bottom: 28px;
   max-width: 373px;
   width: 100%;
   -webkit-transition: all .2s;
   transition: all .2s;
   &.hide{
      display: none;
   }
   &:hover{
      color: #f03382;
   }
}
.news__text{
   color: #525252;
   font-size: 18px;
   line-height: 32px;
   max-width: 444px;
   margin-bottom: 36px;
}
.news__read{
   font-size: 18px;
   line-height: 23px;
   border-bottom: 1px solid rgba(#1d2127, .2);
   display: inline-block;
   -webkit-transition: all .2s;
   transition: all .2s;
   position: absolute;
   left: 30px;
   bottom: 40px;
   &:hover{
      color: #f03382;
      border-color: #f03382;
   }
}
.news__inner{
   display: -webkit-box;
   display: flex;
   -webkit-box-pack: justify;
   justify-content: space-between;
   flex-wrap: wrap;
   position: relative;
   color: #1d2127;
   font-size: 18px;
   height: 700px;
   overflow: hidden;
   -webkit-transition: all .5s;
   transition: all .5s;
   &.active{
      overflow: visible;
      height: auto;
   }
}
.box{
   width: 500px;
   height: 500px;
   background-color: aqua;
}
.news__more{
   position: absolute;
   bottom: 0;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   cursor: pointer;
   border-bottom: 1px dotted rgba(#1d2127, .2);
   -webkit-transition: all .2s;
   transition: all .2s;
   &:hover{
      color: #f03382;
      border-bottom: 1px dotted rgba(#f03382, .2);
   }
}
 */